<widget version="0.9.0">

	<name>zGPS</name>
	<description>
		zGPS
		-> remplacé par debug plugin avec PhoneGap
	</description>
	<author email="pascal.ruel@wanadoo.fr" href="http://partager.photos.free.fr">
		Pascal RUEL
	</author>
	<preference name="phonegap-version" value="3.4.0" />
	<content src="index.html" />
					
</widget>
